.contact-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.title {
    text-align: center;
    color: #1B1C2B;
    margin-bottom: 10px;
}

form {
    display: grid;
    gap: 20px;
}

.form-group {
    display: flex;
    gap: 20px;
}

.form-group>div {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1B1C2B;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

textarea {
    height: 100px;
}

button {
    background-color: #1b1836;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
