header {
    background-color: #1b1836;
    padding: 10px 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Додаємо для вирівнювання заголовка і навігації */
    align-items: center; /* Вирівнювання по вертикалі */
    padding: 0 25px; /* Відступи по боках */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 20px 15px 10px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.contact {
    border: 2px solid #888;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
}

h1 {
    margin: 20px;
}