.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: rgb(60,64,198);
  background: rgba(60,64,198,1);
  height: 100vh; /* Змінено на 100vh для висоти видимого екрану */
  margin: 0; /* Додано для видалення відступів */
}


.header {
  background-color: #333 solid;
  color: white;
  padding: 10px;
}

.palettes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.palette {
  border: 2px solid #ddd;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
}

.palette:hover {
  transform: scale(1.05);
}

.color-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.color-box {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
}

.color-box:hover {
  transform: scale(1.1);
}

.palette-link {
  text-decoration: none;
  color: inherit;
}

/* App.css */
.back-button {
  display: inline-block;
  margin-left: 10vh; /* Вирівнювання кнопок з текстом */
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 50px;
  margin-top: 20px;
  text-align: center;
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
}