#blog {
    padding: 50px;
    background-color: #F4F6FC;
}

#blog h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.blog-posts {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-post {
    flex: 1;
    background-color: #fff;
    margin: 0 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-post .date {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

.blog-post h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}