#faq {
    padding: 50px;
    background-color: #F4F6FC;
}

#faq h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
}

.faq-list details {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.faq-list summary {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
}

.faq-list summary:after {
    content: '+';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.faq-list details[open] summary:after {
    content: '-';
}

.faq-list p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}