.herotext {
    display: flex;
    align-items: center; /* Вирівнювання по вертикалі */
    justify-content: space-between; /* Розподіл простору між текстом і картинкою */
    background-color: #1b1836;
    color: white;
    padding: 100px 0;
}

.herotext h1 {
    font-size: 54px;
    margin-left: 10vh;
    max-width: 70%;
    line-height: 74px;
}

.herotext p {
    font-size: 16px;
    margin-left: 10vh;
    max-width: 70%;
    line-height: 28px;

}

.btn, .textbtn {
    display: inline-block;
    margin-right: 20px;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
}

.btn {
    background-color: #ffdc84;
    color: rgb(0, 0, 0);
}

.textbtn {
    color: #ffdc84;
}

.hero_img {
    max-width: 50%;
    height: auto;
    margin-right: 20vh;
}

.herotext p {
    font-size: 16px;
    margin-left: 10vh;
    max-width: 50%;
    line-height: 28px;
}

.btn, .textbtn {
    display: inline-block;
    margin-left: 10vh; /* Вирівнювання кнопок з текстом */
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
}

.btn {
    background-color: #ffdc84;
    color: rgb(0, 0, 0);
}

.hero_img {
    max-width: 50%;
    height: auto;
    margin-right: 20vh;
}

.textbtn {
    color: #ffffff;
    margin-left: 20px; /* Відступ між кнопками */
}