#how-it-works {
    padding: 50px;
    background-color: #F4F6FC;
}

.heading {
    text-align: left;
    max-width: 50%;
    margin-left: 5vh;
}

.heading h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.heading p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.heading a {
    color: #2405F2;
    text-decoration: none;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 5vh;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.number {
    background-color: #2405F2;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 20px;
}

.card h3 {
    font-size: 24px;
    margin: 20px 0 10px 0;
}

.card p {
    font-size: 16px;
    line-height: 24px;
    color: #666;
}