#projects {
    padding: 50px;
    background-color: #ffffff;
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.projects-heading h2 {
    font-size: 36px;
    font-weight: 600;
}

.projects-heading .view-more {
    font-size: 16px;
    color: #2405f2;
    text-decoration: none;
}

.project-cards {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 16px;
    color: #666;
}

.view-project, .view-portfolio {
    font-size: 16px;
    color: #2405f2;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}