#testimonial {
    padding: 60px;
    background-color: #F4F6FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-content {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
}

.testimonial-text {
    max-width: 400px;
}

.testimonial-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.testimonial-text p {
    font-size: 16px;
    color: #666;
}

.testimonial-quote {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-grow: 1;
}

.testimonial-quote blockquote {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    margin-bottom: 30px;
}

.testimonial-author {
    display: flex;
    align-items: center;
}

.testimonial-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonial-author h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.testimonial-author span {
    font-size: 14px;
    color: #666;
}

.testimonial-navigation {
    display: flex;
    align-items: center;
    gap: 15px;
}

.testimonial-navigation button {
    width: 20px;
    border: none;
    border-radius: 50%;
    background-color: #2405f2;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.testimonial-navigation .prev {
    background-color: #ccc;
}

.testimonial-navigation button:hover {
    opacity: 0.8;
}